SEPOLIA_RPC_URL=
SEPOLIA_PRIVATE_KEY=
ETHERSCAN_API_KEY=

DEFAULT_ADMIN=
INVENTORY_MANAGER=
COMPLIANCE_ADDRESS=
PRICE_ORACLE_ADDRESS=0x694AA1769357215DE4FAC081bf1f309aDC325306 # Chainlink Price Feed for ETH/USD on Sepolia